body {
  min-height: 1600px;
  min-width: 1600px;
}
.leader-line {
  z-index: -1;
}
.node {
  height: auto;
  position: absolute;
  min-width: 100px;
  max-width: 250px;
  background: #d8d8d8;
  margin: 10px;
}
.label {
  flex: 100px;
  min-width: 100px;
  max-width: 250px;
}
.node-name .label {
  flex: 100px;
  min-width: 100px;
  max-width: 250px;
  padding: 0 5px;
  border: 3px #5b5b5b solid;
}

.label-text {
  padding: 0 5px;
}
.slot-button {
  padding: 4px 4px 4px 6px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  border: 4px #8e8e8e solid;
  color: #5b5b5b;
}
.slot-config {
  padding: 4px 4px 4px 6px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  background: transparent;
  border: 1px #8e8e8e solid;
  color: #5b5b5b;
  border-radius: 30px;
}
.field-active,
.field-inactive {
  padding: 5px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  background: #fff;
  color: #5b5b5b;
  text-transform: none;
  font-style: italic;
}
.field-inactive {
  border: 3px #5b5b5b solid;
  background: #ccc;
  color: #5b5b5b;
  text-transform: none;
  font-style: italic;
}
.slot-active,
.slot-inactive {
  padding: 4px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  border: 3px #5b5b5b solid;
  background: #fff;
  color: #5b5b5b;
}
.slot-inactive {
  background: #8e8e8e;
  border: 3px #8e8e8e solid;
  color: #fff;
}
.slot:last-child {
  margin-top: 10px;
  margin-bottom: 10px;
}
.elevation-3 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.small {
  width: 8px;
  height: 8px;
  border-width: 4px;
  border-color: #d8d8d8;
  border-style: solid;
}
.name {
  width: 22px;
  height: 22px;
  border-width: 3px;
  border-color: #d8d8d8;
  border-style: solid;
}
.active {
  background: #30c117;
  border-color: #30c117;
  border-style: solid;
}


.node-name {
  font-size: 14px;
  font-weight: 700;
  padding: 0px 0px;
  text-transform: uppercase;
  color: #dddddd;
  background: #5b5b5b;
  margin: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.node-name.slot-active {
  border-style: none;
}

.node-name.slot-active .slot-anchor-node-name.slot-anchor-active {
  background: #30c117;
  border-color: #30c117;
  border-style: solid;
}
