html, body {
    color: #361717;
    font-size: 22pt;
    text-align: center;
    font-family: sans-serif;
    background-color: #cccbcb;
}


.main {
    text-align: center;
}

table {
    vertical-align: center;
}


a.header {
    padding-top: 15px;
    padding: 20px;
    color: #aaaaaa;
    text-decoration: none;
    text-transform: none;
    vertical-align: center;
    
}

a.header:hover{
    color: #7a6b6b;
}

a.main {
    padding-top: 15px;
    padding: 20px;
    color: #6b4343;
    text-decoration: none;
    text-transform: none;
    vertical-align: center;    
}

a.main:hover{
    color: #a53636;
}

td {
    font-size: 16pt;
    padding-top: 1px;
    font-family: sans-serif;
    font-weight: bold;
}

a:hover{
    color: #a5b4c9;
}

h2 {
    font-size: 15pt;
    padding-top: 6px;
    color: #d5e2f5;
}

h1 {
    font-size: 35px;
}

hr{
    color: #442525;
    width: 75%;
    size: 10px;
}

colgroup{
    text-align: center;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;

    font-family: Helvetica, sans-serif;
    vertical-align: top;
    text-align: left;
    background-color: #493335;
    height: 100px;
    width: 100vw;
    
}


