<!-- Form to fill out when creating a tag -->
<div>
  <%= form_with model: role do |form| %>
    <div>
      <%= form.label :role_name %><br>
      <%= form.text_field :role_name %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>

</div>