

<!-- The page title empty header adjust the -->
<!-- content to compensate for the fixed navigation bar -->
<h1 class="valid_emails-page-title">Whitelisted Emails</h1>

<div id="overlay">
  <span title="Create New Whitelisted Email">
    <a href="valid_emails/new">
      <img class="create-button" src="/assets/create-button.png" alt="Create New Whitelisted Email" width="110px" height="110px">
    </a>
  </span>
</div>

<!-- This will list all the whitelisted emails -->
<body>
  <div>
  <% @valid_emails.in_groups_of(1) do |group| %>
    <div class="card-group">
      <% group.compact.each do |email| %>

        <div class="card">
        <a href="valid_emails/<%= email.id %>">
          <div class="container">
              <h4><%= email.email %></h4>
              <p>In Use: <%= email.in_use%></p>
          </div>
        </a>
        </div>

      <% end %>
    </div>
  <% end %>
</body>